@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('fonts/BricolageGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    background: url('pictures/blue_lines.png') no-repeat center center / cover;
}

span {
    font-weight: bold;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 30px;
}

.container {
    background: url('pictures/background.png') no-repeat center center;
    margin: 20px auto;
    margin-top: 50px;
    width: 1250px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 50px 0 100px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    gap: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-text {
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.icon {
    width: 20px;
    margin-top: -7px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

    nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: lighter;
    }

.auth-contact-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

    .auth-icon:hover {
        transform: scale(1.1);
    }

.contact-btn {
    border: 1px solid black;
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 50px;
    padding-bottom: 0;
    gap: 20px;
    position: relative;
}

.hero-image {
    position: absolute;
    right: -20px;
    bottom: 0;
    margin-left: -50px;
    margin-top: -20px;
    align-self: flex-start;
}

    .hero-image img {
        width: 570px;
        height: auto;
        object-fit: contain;
        display: block;
    }

.hero-content {
    max-width: 500px;
    text-align: left;
    padding-top: 0;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 30px;
}

    .buttons a {
        text-decoration: none;
        color: inherit;
        font-size: 14px;
    }

        .buttons a:visited {
            color: inherit;
        }

        .buttons a:hover {
            text-decoration: none;
        }

.book-btn {
    background: #ffd52b;
    border: none;
    padding: 5px 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    height: 50px;
    font-size: 14px;
}

.play-button {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background: #ffd52b;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
}

/*карусель */
.carousel {
    position: relative;
    width: 100%;
    max-width: 374px; 
    margin: 5px auto 50px;
    margin-left: 5px;
    padding-bottom: 10px;
}

.carousel-track-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    gap: 12px;
    padding: 10px 15px; 
    width: fit-content; 
    margin: 0 auto; 
}

.carousel-slide {
    flex: 0 0 80px; 
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
    .carousel-slide img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 5px;
        width: 50px;
        height: 40px;
        object-fit: contain;
        margin-bottom: 8px;
    }


.service-item {
    font-size: 11px; 
    font-weight: bold;
    padding: 0 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: rgba(118, 202, 227, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

    .carousel-button.prev {
        left: -5px;
    }

    .carousel-button.next {
        right: -15px;
    }
    .carousel-button:hover {
        background: rgba(87, 175, 200, 1);
    }

.social-container {
    position: absolute;
    bottom: 40px;
    right: 90px;
    z-index: 4;
}

.social-links {
    display: flex;
    gap: 12px;
}

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        text-decoration: none;
        color: #ff843d;
        font-weight: bold;
        font-size: 11px;
        transition: all 0.3s ease;
    }

        .social-links a:hover {
            background: #ffd52b;
            color: white;
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }

.cloud {
    position: absolute;
    right: -150px; 
    bottom: -50px; 
    width: 570px; 
    z-index: 2;
    transition: transform 0.6s ease-out;
    pointer-events: none;
}

body:hover .cloud {
    transform: translateX(10px) translateY(5px);
}

.circle-overlay {
    position: absolute;
    right: 90px;
    bottom: 300px;
    width: 120px;
    height: 120px;
    background-color: #ffd52b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    border: 1px solid black;
}

.center-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    z-index: 4;
    position: relative;
    padding-left: 3px; 
    border: 1px solid black;
}

.rotating-text {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: rotateText 6s linear infinite;
    transform: scale(1.2);
}

.play-icon {
    color: black;
}

@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

text {
    font-size: 10px;
    fill: black;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.cat {
    position: relative;
    display: inline-block;
}

.eye {
    position: absolute;
    width: 40px;
    height: 30px;
    background: #44403c;
    border-radius: 50%;
    top: 130px;
    left: 65px;
    overflow: hidden;
    transform: rotate(180deg);
    clip-path: inset(100% 0% 0% 0%);
    animation: blink 4s infinite ease-in-out;
}

.right-eye {
    left: 175px;
}

@keyframes blink {
    0%, 94% {
        clip-path: inset(100% 0% 0% 0%);
    }

    95% {
        clip-path: inset(100% 0% 0% 0%); 
    }

    97% {
        clip-path: inset(100% 0% 0% 0%); 
    }

    98%, 100% {
        clip-path: inset(0% 0% 0% 0%);
    }
}

